table {
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

th {
  background: #009578;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 10px 20px;
}

tr:nth-child(even) {
  background: #eeeeee;
}

.center {
  margin: auto;
  width: 96%;
  padding: 10px;
}

#custom-btn {
  display: flex;
  margin-left: 50%;
  -ms-flex-align: center;
  color: #0000;
  text-align: center;
  font-size: large;
  background-color: black;
}

.xlsx {
  background-color: #17a2b8;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  margin-right: 4px;
  transition: 0.3s;
}

.xlsx:hover {
  padding-right: 25px;
  padding-left: 25px;
}

.csv {
  background-color: #17a2b8;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  margin-right: 4px;
  transition: 0.3s;
}

.csv:hover {
  padding-right: 25px;
  padding-left: 25px;
}

.txt {
  background-color: #17a2b8;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  margin-right: 4px;
  transition: 0.3s;
}

.txt:hover {
  padding-right: 25px;
  padding-left: 25px;
}

.csv-export-btn-div {
  display: none;
}

/* For Dummy Table  */
#dummy {
  display: none;
}

/* Datatable pagination  */
.pagination {
  padding-left: 19rem;
}
.contentEditableStyle {
  border: 10px solid red;
  background-color: aquamarine;
}

/* Edit and delete button alignment */
.actionOptions {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: flex-start;
}
thead,
th {
  text-align: center;
  font-size: medium;
}
table,
th,
td {
  border: 5px solid black;
}

.modelBoxContent {
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
}
#tableContainer {
  display: table; /* IE8+ and all other modern browsers */
  position: relative;
  margin-left: auto;
}

.headerWithCsvName {
  display: flex;
  justify-content: space-between;
}
